<h2>Education</h2>
<mat-list class="cv-section education">
    <mat-list-item *ngFor="let e of education">{{e}}</mat-list-item>
</mat-list>

<h2>Employment</h2>
<mat-list class="cv-section employment">
  <mat-list-item *ngFor="let em of employment">{{em.title}} at {{em.location}}</mat-list-item>
</mat-list>

<h2>Stuff I'm Alright At</h2>
<mat-grid-list cols="4" rowHeight="1:1">
  <mat-grid-tile *ngFor="let tech of skills">
    <i class={{tech.tag}}></i>
    <h3>{{tech.name}}</h3>
  </mat-grid-tile>
</mat-grid-list>

<h2>Other</h2>
<mat-list class="cv-section other">
  <mat-list-item *ngFor="let other of other">{{other}}</mat-list-item>
</mat-list>



