<div class="cv-section education">
  <h2>Education</h2>
  <ul>
    <li>Bachelors of Computer Science, Acadia University</li>
    <li>Cisco Certified Network Administrator</li>
    <li>Completed Scrum.org Scrum Master training</li>
  </ul>
</div>
<div class="cv-section employment">
  <h2>Employment</h2>
  <ul>
    <li>Teacher's Assistant at Acadia University</li>
    <li>Data Analyst and Programmer at Bell Aliant</li>
    <li>Combat Management Systems Software Developer at Lockheed Martin Canada</li>
    <li>Software Developer and Scrum Master at Gracenote Sports</li>
  </ul>
</div>
<div class="cv-section skills">
  <h2>Skills</h2>
  <h4>Programming Literacy</h4>
  <ul>
    <li>Java</li>
    <li>Python</li>
    <li>JavaScript/ TypeScript</li>
    <li>MySQL/ PostgreSQL</li>
    <li>Ubuntu</li>
    <li>Git</li>
  </ul>
  <h4>Frameworks</h4>
  <ul>
    <li>Angular</li>
    <li>Express</li>
    <li>Nodejs</li>
    <li>Spring</li>
    <li>Numpy/ SciPy</li>
  </ul>
  <h4>Build Systems</h4>
  <ul>
    <li>Maven</li>
    <li>Gradle</li>
    <li>Ant</li>
  </ul>
  <h4>Soft-skills</h4>
  <ul>
    <li>Scrum/ Agile</li>
    <li>Startup Pitching</li>
  </ul>
</div>
<div class="cv-section other">
  <h2>Other</h2>
  <ul>
    <li>I've played guitar and sang since I was 10</li>
    <li>I restore old cars and motorcycles for fun</li>
    <li>I had NATO clearance once</li>
    <li>Je parle un peu le Français</li>
  </ul>
</div>



